.page-new-questions
  = simple_form_for @question do |f|
    = f.input 'title', input_html: { class: 'form-control' }
    = f.input 'content', as: :text, input_html: { class: 'form-control' }
    %button.btn.btn-defualt
      = '提交'