.col-md-8
  .page-notification-index
    %ul.notifications
      - @notifications.each do |noti|
        %li.notification
          .desc
            = noti.info[:str1] + " " 
            %a.title{:href => "/questions/#{noti.info[:question_id]}"}= noti.info[:question_title] + " " 
            = noti.info[:str2]
          .create-time= noti.created_at 
