.page-questions-index{
  ul.questions{
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 0;
    li.question{
      border-bottom: 1px solid #eee;
      @include clearfix;
      margin: 0;
      padding: 10px;

      .vote{
        margin-right: 10px;
        text-align: center;
        float: left;
        width: 40px;
        font: 13px;
        color: #fff;
        padding: 3px 3px 5px 3px;
        background-color: #009a61;
      }

      .answer{
        margin-right: 10px;
        text-align: center;
        float: left;
        width: 40px;
        font: 13px;
        color: #999;
        padding: 3px 3px 5px 3px;
      }

      .content{
        float: left;

        .creator{
          display: inline;
        }

        .created-time{
          margin-left: 20px;
          display: inline;
        }
        a.title{
          display: block;
          color: #333;
          font-weight: 700;
          font-size: 16px;
          margin-top: 5px;
        }
      }
    }
  }
}


.page-question-show{
  .question{
    .title{
      font-size: 20px;
      font-weight: 700;
    }

    .create-info{
      .creator{
        display: inline;
      }
      .created-time{
        margin-left: 10px;
        display: inline;
      }
    }

    .desc{
      margin: 30px 0 30px 0;
      @include clearfix;

      .vote{
        float: left;
        width: 40px;
        text-align: center;
        background-color: #f3f3f3;
        color: #666;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        border-radius: 2px;

        a{
          text-decoration: none;
          &.pressed{
            color: #000;
            font-weight: 700;
          }
        }
      }

      .desc-content{
        float: left;
        margin-left: 20px;

        .content{
          min-height: 70px;
        }
      }

    }

    .comment-content{
      .form{
        textarea{
          min-width: 500px;
          min-height: 100px;
        }
        .btn{
          margin-top: 5px;
        }
      }
    }
  }

  .answer-title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(204,204,204);
  }

  ul.answers{
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 0px;

    li.answer{
      padding: 10px 0 10px 0;
      @include clearfix;

      .vote{
        float: left;
        width: 40px;
        text-align: center;
        background-color: #f3f3f3;
        color: #666;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        border-radius: 2px;

        a{
          text-decoration: none;
          &.pressed{
            color: #000;
            font-weight: 700;
          }
        }
      }

      .desc{
        float: left;
        margin-left: 20px;

        .create-info{
          .creator{
            display: inline;
            font-size: 13px;
          }
          .created-time{
            margin-left: 10px;
            display: inline;
            font-size: 13px;
          }

        }

        .content{
          padding: 10px 0 0 0;
          min-height: 70px;
        }



      }

    }


  }
}
