.page-answers-index{
  .question-title{
    font-size:18px;
    font-weight:900;
  }
  .question-content{
    text-align: left;
    line-height:20px;
    display: block;
  }
  .answer-count{
    font-size:18px;
  }
  button.btn.btn-default.answer-create{
    margin:20px;
  }
}

.page-questions-index{
  .question-title{
    float: left;
    font-size:20px;
    font-weight:900;
  }
  button.btn.btn-defualt{
    float: left;
  }
  .question-content{
    margin:30px;
    text-align: left;
    line-height:100px;
  }
  a.question-comment-count{
    margin:100px;
  }
  .question-comment-table{
    margin:100px;
  }
}